@tailwind base;
@tailwind components;
@tailwind utilities;

.bulletsP {
    --swiper-pagination-color: var(--swiper-theme-color);
    --swiper-pagination-bullet-size: 8px;
    --swiper-pagination-bullet-width: 8px;
    --swiper-pagination-bullet-height: 8px;
    --swiper-pagination-bullet-inactive-color: #ffffff;
    --swiper-pagination-bullet-inactive-opacity: 0.2;
    --swiper-pagination-bullet-opacity: 1;
    --swiper-pagination-bullet-horizontal-gap: 4px;
    --swiper-pagination-bullet-vertical-gap: 6px;
    transform: translateX(0) !important;
}

/* .swiper {
    overflow: visible !important;
} */

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;    
    width: 25% !important;
    transition: all 0.3s ease-in-out;
    height: auto;
    max-height: 440px;
    aspect-ratio: 16/9;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.swiper-slide-active {
    width: 55% !important;
}

/* .Hided{
    height: 250px !important;
} */

/* @media (max-width: 640px) {
    .swiper-slide {
        width: 100% !important;
    }

    .swiper-slide-active {
        width: 100% !important;
    }
} */

@media (max-width: 768px) {
    .swiper-slide {
        width: 100% !important;
        transition: all 0.3s ease-in-out;
        height: auto;
        max-height: 100%;
        aspect-ratio: 16/9;
        border-radius: 0 !important;
    }

    .swiper-slide-active {
        width: 100% !important;
    }
}

/* @media (max-width: 1024px) {

    .swiper-slide-active {
        width: 60% !important;
        padding: 0 1rem;
    }
}


@property --percentage {
    initial-value: 0%;
    inherits: false;
    syntax: "<percentage>";
}

.chart {
    background: conic-gradient(red var(--percentage), rgba(255, 255, 255, 0) 0);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: none;
    visibility: hidden;
}

.swiper-slide-active .chart {
    visibility: visible;
    background: conic-gradient(red var(--percentage), rgba(255, 255, 255, 0) 0);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: timer 5s infinite linear;
}


@keyframes timer {
    to {
        --percentage: 100%;
    }
}

body {
    height: 100vh;
    margin: 0;
    display: grid;
    place-items: center;
    box-sizing: border-box;
    padding: 2rem;
} */